.box {
  border-radius: 1rem;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  position: relative;
  aspect-ratio: 1;
  width: 60%;
  min-width: 320px;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.l {
  height: 100%;
  flex: 1;
  flex-direction: column;
  justify-content: start;
}

.l1 {
  flex: 1;
  width: 100%;
  background-color: var(--secondary);
}

.l2 {
  flex: 2;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  transition-property: padding;
  transition: 1s;
}

.l2:hover {
  padding: 0rem;
}

@keyframes bop {
  0% {
    padding: 0rem;
  }
  45% {
    padding: 0rem;
  }
  50% {
    padding: 1rem;
  }
  55% {
    padding: 0rem;
  }
  100% {
    padding: 0rem;
  }
}

@media screen and (min-width: 1200px) {
  .l2 h1 {
    font-size: var(--huge);
  }
}

@media screen and (max-width: 1200px) {
  .l2 h1 {
    font-size: var(--xx-large);
  }
}

.l3 {
  flex: 1;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.l3l {
  flex: 1;
  height: 100%;
  background-color: var(--primary);
}

.l3r {
  flex: 1;
  height: 100%;
  background-color: var(--text);
}

.r {
  height: 100%;
  flex: 1;
  flex-direction: column;
}

.r1 {
  width: 100%;
  flex: 3;
  flex-direction: row;
}

.r2 {
  width: 100%;
  flex: 1;
  background-color: var(--secondary);
}

.light {
  color: var(--text-secondary);
}
.dark {
  color: var(--text);
}

b {
  font-weight: bold;
}

@media screen and (min-width: 1250px) {
  h1 {
    font-size: var(--large);
  }
  .iconLight {
    color: var(--text-secondary);
    font-size: var(--huge);
  }
}

@media screen and (min-width: 1000px) and (max-width: 1250px) {
  h1 {
    font-size: var(--medium);
  }
  .iconLight {
    color: var(--text-secondary);
    font-size: var(--huge);
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  h1 {
    font-size: var(--medium);
  }
  .iconLight {
    color: var(--text-secondary);
    font-size: var(--xx-large);
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: var(--small);
  }
  .iconLight {
    color: var(--text-secondary);
    font-size: var(--large);
  }
}

.r1l {
  height: 100%;
  flex: 1;
  flex-direction: column;
}

.r1lt {
  width: 100%;
  flex: 1;
  animation: bop 6s infinite;
  box-sizing: border-box;
}

.r1lb {
  width: 100%;
  flex: 2;
  background-color: var(--accent);
}

.r1r {
  height: 100%;
  flex: 1;
  flex-direction: column;
}

.r1rt {
  width: 100%;
  flex: 2;
  background-color: var(--secondary);
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  padding: 0.5rem;
}

.r1rt p {
  font-size: var(--tiny);
  font-family: "Verdana";
  color: var(--text-secondary);
}

.options {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.options div {
  text-align: left;
  background-color: var(--accent);
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.5rem;
  line-height: 1.5;
}

.r1rb {
  width: 100%;
  flex: 1;
  animation: bop 7s infinite;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 100%;
  height: 100%;
  background-color: var(--text);
  border-radius: 1rem;
  box-sizing: border-box;
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
}

.about:hover {
  cursor: pointer;
}

.aboutInner {
  background-color: var(--secondary);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  box-sizing: border-box;
  transition-property: opacity;
}
