.container {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    gap: 0;
    justify-content: start;
    position: relative;
}

.letterContainer {
    position: absolute;
    overflow: hidden;
    transition-property: transform;
    transition-duration: 1.8s;
    transition-timing-function: ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 0;
    line-height: 1;
    padding-bottom: 0.1rem;
}

@media screen and (min-width: 750px) {
    .letter {
        color: var(--text-secondary);
        font-family: var(--mono);
        font-weight: 800;
        position: relative;
        padding: 0;
    }
}
@media screen and (max-width: 750px) {
    .letter {
        color: var(--text-secondary);
        font-family: var(--mono);
        font-weight: 800;
        position: relative;
        padding: 0;
    }
}

