.container {
  position: relative;
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-direction: column;
  background-color: var(--accent);
  color: var(--text);
  text-align: left;
  justify-content: space-between;
  align-items: start;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px 5px #cccccc;
  transition-property: box-shadow, transform;
  transition-duration: 0.8s;
}

.container:hover {
  transform: scale(1.1);
}

.upperContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 2rem;
  padding-top: 3.5rem;
  gap: 2rem;
  position: relative;
  background-color: var(--background);
  z-index: 1;
  min-height: 12rem;
}

.lowerContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
  box-sizing: border-box;
  color: var(--text-secondary);
  flex: 1;
}

.iconContainer {
  position: absolute;
  padding: 1.5rem;
  border-radius: 5rem;
  top: calc(-1.5rem - (var(--large) / 2));
  left: 10%;
  background-color: var(--accent);
  color: var(--text-secondary);
  font-size: var(--large);
  z-index: 2;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: var(--text);
  font-weight: bold;
}

.title {
  font-size: var(--large);
  line-height: 1.5;
  white-space: pre-wrap; /* Keeps spaces and allows text to wrap */
}

.amenitiesContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 2rem;
  line-height: 2;
  font-size: var(--small);
  box-sizing: border-box;
}

.amenity {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: start;
  gap: 0.5rem;
}

.check {
  font-size: var(--small);
  min-width: 2rem;
}

.btnContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.btnContainer a {
  line-height: 1.5;
  text-decoration: none;
}
.registerBtn {
  box-sizing: border-box;
  padding: 1rem;
  background-color: var(--background);
  color: var(--text);
  border-radius: 0.5rem;
  border: 1.5px solid var(--background);
  transition-property: background-color, color;
  transition-duration: 0.3s;
  flex: 1;
  text-align: center;
  flex: 1;
  height: 100%;
}

.learnBtn {
  box-sizing: border-box;
  padding: 1rem;
  background-color: var(--accent);
  color: var(--text-secondary);
  border-radius: 0.5rem;
  border: 1.5px solid var(--background);
  transition-property: background-color, color;
  transition-duration: 0.3s;
  flex: 1;
  text-align: center;
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.registerBtn:hover {
  cursor: pointer;
  background-color: var(--accent);
  color: var(--text-secondary);
}

.learnBtn:hover {
  cursor: pointer;
  background-color: var(--background);
  color: var(--text);
}
