.textContainer {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 1rem;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;
}

.textContainer h1 {
  font-size: var(--xx-large);
  color: var(--text);
  font-weight: bold;
}

.textContainer h3 {
  font-size: var(--small);
  color: var(--accent);
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.testimonialContainer {
  display: grid;
  margin-top: 4rem;
  gap: 2rem;
  margin-bottom: 7rem;
}

@media screen and (max-width: 800px) {
    .testimonialContainer {
      grid-template-columns: 1fr;
      gap: 6rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
@media screen and (min-width: 1300px) {
  .testimonialContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 1300px) and (min-width: 800px) {
  .testimonialContainer {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
